@import url(https://fonts.googleapis.com/css?family=Passion+One:900,400);
*,
*:before,
*:after {
	box-sizing: border-box;
}
.group:before,
.group:after {
	content: "";
	display: table;
}
.group {
  clear: both;
}
.group:after {
  clear: both;
}
h1 {

}
body {
	max-width: 60em;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-radius:  25px;
	background: linear-gradient(to right, #FF9900, #FFDE00);
	font-family: Verdana, Sans-serif;
}
aside {
	background-color: #FFDE00;
	border-radius: 25px;
	margin-bottom: 1em;
	margin-right: 1em;
}
nav a {
	color: #2598A1;
}
nav a:visited{
	color: blue;
}
nav a:hover{
	background-color:gray;
}
nav a:active{
	color: red;
}
.bottommenu li{
	display: inline-block;
	border-left: 1px solid black;
	margin-right: 1em;
	padding-left: 2em;
}
.topmenu {
	display: inline-block;
	border-left: 1px solid black;
	margin-right: 1em;
	padding-left: 2em;
	list-style: none;
}
.topmenu li
{
	padding: .5em;
}
.topmenu a {
	text-decoration: none;
	border-bottom: 1px solid;
	display: block;	
}
.container {
	background-color: #FFFF66;
	border-radius: 25px;
	border: 50em;
}
.box {
	border: 1px solid blue;
	padding: 1em;
}
.col-2-3{
	width: 64%;
	float: left;
	border-radius: 25px;
	padding: 1em;
}
.col-1-2{
	width: 43%;
	float: left;
	border-radius: 25px;
	padding: 1em;
	margin: 1em;
}
.col-1-3 {
	width: 33.3333%;
	float:  left;
	border: 1px solid black;
	border-radius: 25px;
	padding: 1em;
	margin-bottom: 10px;
}
a {
	color: black;
}
a:hover {
	color: red;
}
.flright{
	float: right;
}
.flleft{
	float: left;
}
.teaser {
	background-color: #FF9900;
}
.enlarge{
	font-size: 2.8em;
	margin: 0;
	padding: .5em;
	width: 66%;
	float: left;
	font-family: 'Showcard Gothic', Sans-serif;
	color: #0E0E0E
}
.colorchange {
	color: #0E0E0E
}
.fontchange {
	font-family: 'Showcard Gothic', Sans-serif;
}
