@import url(https://fonts.googleapis.com/css?family=Passion+One:900,400);
*,
*:before,
*:after {
	box-sizing: border-box;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group {
  clear: both;
}
.group:after{
  clear: both;
}
body{
	max-width: 64em;
	margin: 0 auto;
	font-size: 1.1em;
	line-height: 1.6em;
	background-image: url("img/Icemana.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-color: #cccccc;
	font-family:'Palatino Linotype', Sans-serif;
}
header{
	height: 10em;
	background-color: rgba(151,153,167,0.40);
	border: 1px solid black;
}
article{

	border-right: 1px solid black;
	float: left;
}
aside{
	border: 0px solid black;
	margin: 0;
	float: right;
}
footer{
	background-color: rgba(151,153,167,0.40);
}
footer nav{
	padding: 0em;
	text-align: center;
}
a{
	text-decoration: none;
	font-size: 20px;
}
p {
	text-align: center;
}
h1{
	text-align: center;
	font-size: 64px;
	font-family: "Comic Sans MS", cursive, sans-serif
}
h2 {
	text-align: center;
	font-size: 24px;
}
a:visited {
	color:blue;
}
a:hover {
	background-color:yellow;
}
a:active {
	color:red;
}
.col-2-3{
	width: 66.66%;
	float: left;
	padding: 1em;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.3350%;
	float: right;
	padding: 1em;
}
.col-100{
	width: 100%;
}
.tafla {
	border-collapse: collapse;
	border: 2px solid black;
	padding: 10px;
	text-align: center;
}
.box {
	border: 1px solid black;
}
.green{
	background-color: green;
}
.portrett {
  background: #eaeaed;
  border: 0px solid #9799a7;
  width: 200px;
  margin: 0 auto;
  padding: 0;
}
caption{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 30px;
}
img, video, audio{
	max-width: 100%;
	text-align: center;
}
/*Mobile skjáir 480px*/
@media screen and(min-width: 30em){
}

/*Spjald skjáir 760px*/
@media screen and(min-width: 48em){
}

/*Tölvu skjáir  960px*/
@media screen and(min-width: 60em){
    body{
        max-width: 60em; /*960px*/
        margin: 0 auto;
        padding: 0;
    }
}


table tr td{
	border-collapse: collapse;
	border: 2px solid black;
	padding: 10px;
	text-align: center;
	margin: auto;
}
table tr th{
	border-collapse: collapse;
	border: 2px solid black;
	padding: 10px;
	text-align: center;
	margin: auto;
}
audio {
	margin-top: 2em;
}