body {
	max-width: 50em; /* 50em = 800px*/
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	border: 2px solid green
}
h3 {
	border-bottom: 1px dotted black;
}
a {
	color: blue;
}
a:hover {
	color: red;
}
.box {
	color: red;
	margin-top: 3em;
	padding: 3em;
	border: 5px dashed blue;
}
.box2 {
	color: blue;
	padding: 1em;
	border: 5px solid red;
}
.in-line li {
	display: inline;
	padding: .5em;
	margin: 5em;
	border: 1px solid;
}
.in-line-block li {
	display: inline-block;
	padding: .5em;
	margin: 5em;
	border:1px solid;
}
p.ekkisynilegt ul li{
	display: none;
}
p.ekkisynilegt:hover ul li {
	display: block;
}